{{> heading text="Willkommen im Team!"}}
{{#> paragraph}}Hallo {{name}},{{/paragraph}}
{{#> paragraph}}für dich wurde ein Konto in der Programmverwaltung des {{siteName}} angelegt. Bestätige dein Konto, indem du dein persönliches Passwort festlegst:{{/paragraph}}
{{> button url=actionUrl label="Konto bestätigen"}}
{{#> paragraph}}Falls der Button nicht funktioniert, kopiere diesen Link in deinen Browser:<br><a href="{{actionUrl}}" style="color:#E8CB92;word-break:break-all;">{{actionUrl}}</a>{{/paragraph}}
{{> hint text="Der Link ist 48 Stunden gültig. Danach kannst du über „Passwort vergessen“ auf der Anmeldeseite einen neuen Link anfordern."}}
