{{> heading text="Passwort zurücksetzen"}}
{{#> paragraph}}Hallo {{name}},{{/paragraph}}
{{#> paragraph}}für dein Konto in der Programmverwaltung des {{siteName}} wurde das Zurücksetzen des Passworts angefordert. Lege hier ein neues Passwort fest:{{/paragraph}}
{{> button url=actionUrl label="Neues Passwort festlegen"}}
{{#> paragraph}}Falls der Button nicht funktioniert, kopiere diesen Link in deinen Browser:<br><a href="{{actionUrl}}" style="color:#E8CB92;word-break:break-all;">{{actionUrl}}</a>{{/paragraph}}
{{> hint text="Der Link ist 60 Minuten gültig. Wenn du kein neues Passwort angefordert hast, kannst du diese E-Mail ignorieren – dein Passwort bleibt unverändert."}}
